---
import Layout from "../layouts/Layout.astro";
import ModalImage from "../components/ModalImage.astro";
import data from "../data.json";

import "../styles/particles.scss";
import ModalViewer from "../components/ModalViewer.astro";
import Section from "../components/Section.astro";
---

<Layout title="adamkhalz's Portfolio - Creations">
  <main>
    <Section
      id="creations"
      isLast
      replace={{ href: import.meta.env.BASE_URL, text: "Go Back" }}
    >
      <ul class="modal-images">
        {data.images.map((image, id) => <ModalImage {...image} id={id} />)}
      </ul>
    </Section>
  </main>
  <ModalViewer />
</Layout>
<style is:inline>
  section {
    min-height: 100vh;
  }
  /* Center horizantally using margin */
  .route-link {
    display: block;
    text-align: center;
    max-width: fit-content;
    margin-inline: auto;
  }
  #creations > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 0px;
    justify-content: center;
    margin-bottom: 2em;
  }
  footer {
    margin-top: 2em;
  }
</style>
